
@keyframes fade-in-animation {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-out-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.fadein_form {
  animation: fade-in-animation 1s forwards;
}

.fadeout_form {
  animation: fade-out-animation 1s forwards;
}